#game-container {
    position: absolute;
    width: 1300px;
    height: 725px;
    border: 3px solid #ccc;
    left: 50%;
    top: 20%; 
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  #refreshButton {
    padding: 10px 20px;
    font-size: 24px; 
    padding: 15px 35px; 
    margin-top: 15px;
  }
  #btn{
    font-size: 24px; 
    padding: 15px 35px; 
    background-color: #28a745;
  }
  h1 {
    padding: 10px; 
    color: #28a745 
  }
  .custom-input {
    width: 100% 
  }
  
  #btn.started,
  input.started,label.started,h1.started{
    display: none;
  }
  
 
