#game-container {
  position: absolute;
  width: 80%;
  height: 400px;
  padding: 15px;
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}
#btn{
  padding: 15px 35px; 
  background-color: #28a745;
}
h1 {
  padding: 10px; 
  color: #28a745 
}
.custom-input {
  width: 100% 
}

